@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #87806C;
  --secondary-color: #666256;
  --light-color: #F2EEEA;
  --accent-color: #959A92;
  --theme-color-100: #F2EEEA;
  --theme-color-200: #E4E1D9;
  --theme-color-gray: #C7C7C7;
  --theme-color-500: #87806C;
  --theme-color-700: #666256;
  --theme-color-800: #353431;
  --theme-color-900: #1A1919;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  background: var(--theme-color-900);
}
